.am-container {
  max-width: 1024px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px 0 16px;
}
.am-field {
  width: 100%;
}
 .mat-expansion-panel-body {
   padding: unset !important;
 }

 /* Structure */
 table {
   width: 100%;
 }

 .mat-form-field {
   font-size: 14px;
   width: 100%;
 }
