<div>
  <div class="am-container">
    <mat-form-field class="example-full-width">
      <mat-label>Subject</mat-label>
      <input type="text" aria-label="Subject" matInput [formControl]="subject" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput disabled [matDatepicker]="picker" (dateChange)="onDateChange($event.value)" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker color="primary" disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-accordion class="am-accordian">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-description>
            <mat-icon>add</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="example-full-width">
          <mat-label>Student Id</mat-label>
          <input type="text" aria-label="studentId" matInput [formControl]="student" [matAutocomplete]="auto1">
          <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredStudentOptions | async" [value]="option">
              {{option.userId}}-{{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-action-row>
          <button (click)="onPresent()" mat-raised-button color="primary" class="present-button">Present</button>
          <button (click)="onAbsent()" mat-raised-button color="primary" class="absent-button">Absent</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

<div>
  {{attendances | json}}
</div>
</div>
