.am-container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 17px;
  margin-top: 12px;
 }

.am-field {
  width: 100%;
}
 .mat-expansion-panel-body {
   padding: unset !important;
 }

 /* Structure */
 table {
   width: 100%;
   padding-right: 0%;
 }

 .mat-form-field {
   font-size: 14px;
   width: 100%;
 }
