.notice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 88vh;

  @media only screen and (min-width:768px) {
    width: 50%;
  }

  @media only screen and (min-width:1024px) {
    width: 400px;
  }
}

.um-table {
  height: 100%;
  max-height: 83%;
  width: 100%;
  overflow: auto;
}

.view {
  text-decoration: underline;
  text-decoration-color: blue;
}
