.am-container {
  // max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 36px;
  margin-top: 12px;

   @media only screen and (min-width:768px) {
     width: 50%;
   }

   @media only screen and (min-width:1024px) {
     width: 400px;
   }
}
