 <div class="am-container" *ngIf="userType !== 'Student'">
  <mat-form-field class="example-full-width">
    <mat-label>Subject</mat-label>
    <input type="text" aria-label="Subject" matInput [formControl]="subject" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
 </div>
 <div>
  <app-upload [type]="'assignments'" [subject]="subject.value" (fireUpdate)="handleOnUpdate($event)"></app-upload>
  </div>
