.example-spacer {
  flex: 1 1 auto;
}

.menu-title {
  font-weight: 600;
  display: flex;
  max-width: 1024px;
  margin: auto;
  padding: 0px 16px 0 16px;
  align-items: center;
}

.main-container {

}
