table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.um-table {
  height: 100%;
  max-height: 83%;
  width: 110%;
  overflow: auto;
}

.view-action {
  margin-right: 8px;
}

.delete-action {
  margin-left: 8px;
}

.sub-action {
  margin-right: 8px;
}

.filter {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 8px;

}

.view{
  text-decoration: underline;
  text-decoration-color: blue;
}

.notice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 88vh;
  margin-top: 20px;

  @media only screen and (min-width:768px) {
    width: 50%;
  }

  @media only screen and (min-width:1024px) {
    width: 400px;
  }
}
