table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.um-table {
    height: 100%;
    width: 90vw;
    overflow: auto;
    max-height: 68vh;
}

.view-action {
  margin-right: 8px;
}

.delete-action {
  margin-left: 8px;
}

.sub-action {
  margin-right: 8px;
}

.filter {
  width: 100%;
  margin-bottom: 8px;

}

.view{
  text-decoration: underline;
  text-decoration-color: blue;
}

.notice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 14px 16px 0 16px;

  @media only screen and (min-width:768px) {
    width: 50%;
  }

  @media only screen and (min-width:1024px) {
    width: 90vw;
  }
}

.mat-column-upload{
  justify-content: center;
  text-align: center;
}
.mat-column-subTeacher{
  justify-content: center;
  text-align: center;
}
