.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 100vh;
  @media only screen and (min-width:768px) {
    width: 50%;
  }
  @media only screen and (min-width:1024px) {
    width: 400px;
  }
}

.login-field {
  width: 100%;
}

.login-button {
  align-self: flex-end;
}
