<div class="login-container">
  <img src="assets/logo.png" alt="logo" height="200px" width="200px">
  <h1><b>LOGIN</b></h1>
  <mat-form-field appearance="fill" class="login-field">
    <mat-label>Enter your userId</mat-label>
    <input matInput [formControl]="userId" required>
    <mat-error *ngIf="userId.invalid">{{getUserIdErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="login-field">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required >
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button [disabled]="isValid()" mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
</div>


